.cart-item{
    display: flex;
    background: #FFFFFF;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    width: 652px;
    margin-bottom: 40px;
    &-text {
        padding: 22px 0 0 31px;
        width: 100%;
        &-top-part{
            display: flex;
            justify-content: space-between;
            margin-bottom: 42px;
        }
        & h6 {
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            max-width: 262px;
        }
        & p {
            margin-bottom: 6px;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        &-price {
            font-size: 22px;
            line-height: 26px;
            color: #EF5B70;
        }
        &-top-part .fa {
            padding-right: 22px;
            font-size: 24px;
        }
    }
}